html {
  @include fluid-type(font-size, 20em, 60em, 1em, 1.25em);
  background-color: $white;
  color: $mineshaft;
  font-family: "TS3 Text Sans", sans-serif;
  hyphens: auto;
  line-height: 1.5;
  overflow-x: hidden;
}
