{% set theme = "t-explore" %}
{% set title = "Day trippers guide to Kansai" %}
{% set liveURL = "" %}
{% extends "generic/regions.njk" %}
{% block header %}
<header class="c-header">

  <div class="c-background c-header__background">
    <img class="c-background__image" src="{{ cdn }}images/bamboo-forest.jpg" alt="">
  </div>
  <!-- /c-background -->


  <div class="o-container">

    <h1 class="c-title c-header__title u-vertical-space u-vertical-space--small">{{ title }}</h1>
    <!-- c-title -->


    <div class="s-entry-content c-header__entry-content u-vertical-space u-vertical-space--small">
      <p>From onsens to tea ceremonies, the Kansai region of Japan has a world of experiences for the traveller looking for a taste of the traditional.</p>
    </div>
    <!-- /s-entry-content -->

  </div>
  <!-- /o-container -->

</header>
<!-- /header -->
{% endblock %}
{% block main %}
<main class="c-main">

  <div class="c-section">

    <div class="o-container">

      <div class="c-columns c-columns--medium u-vertical-space u-vertical-space--large">
        <div class="c-columns__list">
          <div class="c-columns__item c-columns__item--third">

            <div class="s-entry-content s-entry-content--highlight">
              <p>Osaka’s recent and extraordinary surge in popularity will come as no to surprise to anyone who’s already been lucky enough to visit.</p>
            </div>
            <!-- /s-entry-content -->

          </div>
          <div class="c-columns__item">

            <div class="s-entry-content">
              <p>Not only is it one of Japan’s oldest and most important cultural destinations, its proximity to so many other key attractions and cities within the greater Kansai Region (Mie, Nara, Wakayama, Kyoto, Osaka, Hyōgo and Shiga) makes it the ideal base for anybody looking to explore everything Japan has to offer from one amazing, central location.</p>
            </div>
            <!-- /s-entry-content -->

          </div>
        </div>
      </div>
      <!-- /c-columns -->


      <div class="c-map u-vertical-space u-vertical-space--large">
        <div class="c-map__column c-map__column--legend">

          <div class="c-map-legend js-map-legend">
            <h3 class="c-map-legend__title">
              Greater Kansai
              <span class="c-map-legend__subtitle">Region</span>
            </h3>
            <ol class="c-map-legend__list">
              <li class="c-map-legend__item"><strong>Nara Park</strong> and its thousand-plus wild deer.</li>
              <li class="c-map-legend__item"><strong>Todaiji Temple:</strong> home of the country’s largest Buddha statue.</li>
              <li class="c-map-legend__item"><strong>Kagusa Taisha Shrine:</strong> Nara’s most beloved Shinto shrine; famed for its hundreds of bronze lanterns.</li>
              <li class="c-map-legend__item"><strong>Kinkaku-ji Temple:</strong> Kyoto’s crown jewel, famed for its ‘floating’ Golden Pavilion.</li>
              <li class="c-map-legend__item"><strong>Fushimi-Inari-Taisha Shrine:</strong> thousands of bright orange torii gates are popular for photographers.</li>
              <li class="c-map-legend__item"><strong>Ginkaku-ji Temple:</strong> the “Silver Pavilion” is a favourite amongst nature lovers.</li>
              <li class="c-map-legend__item"><strong>Arashiyama Bamboo Grove:</strong> Seemingly endless stalks of bamboo line the path on the approach to Ōkōchi Sansō villa.</li>
              <li class="c-map-legend__item"><strong>Nijo-jo Castle:</strong> UNESCO world heritage site.</li>
              <li class="c-map-legend__item"><strong>En:</strong> Kyoto was where the tea ceremony was born.</li>
              <li class="c-map-legend__item"><strong>Hattori Ryokuchi Park:</strong> the Edo era with its meticulously restored Open Air Museum of Old Japanese Farmhouses.</li>
            </ol>
          </div>
          <!-- /c-map-legend -->

        </div>
        <div class="c-map__column c-map__column--image">

          <div class="c-map-image">
            <div class="c-map-image__item">
              <img class="c-map-image__image" src="{{ cdn }}images/map-kansai-2.png" alt="">
              <span class="c-map-image__label">Nara Park</span>
            </div>
            <div class="c-map-image__item">
              <img class="c-map-image__image" src="{{ cdn }}images/map-kansai-3.png" alt="">
              <span class="c-map-image__label">Todaiji Temple</span>
            </div>
            <div class="c-map-image__item">
              <img class="c-map-image__image" src="{{ cdn }}images/map-kansai-4.png" alt="">
              <span class="c-map-image__label">Kagusa Taisha<br>Shrine</span>
            </div>
            <div class="c-map-image__item">
              <img class="c-map-image__image" src="{{ cdn }}images/map-kansai-5.png" alt="">
              <span class="c-map-image__label">Kinkaku-ji Temple</span>
            </div>
            <div class="c-map-image__item">
              <img class="c-map-image__image" src="{{ cdn }}images/map-kansai-6.png" alt="">
              <span class="c-map-image__label">Fushimi-Inari-<br>Taisha Shrine</span>
            </div>
            <div class="c-map-image__item">
              <img class="c-map-image__image" src="{{ cdn }}images/map-kansai-7.png" alt="">
              <span class="c-map-image__label">Ginkaku-ji Temple</span>
            </div>
            <div class="c-map-image__item">
              <img class="c-map-image__image" src="{{ cdn }}images/map-kansai-8.png" alt="">
              <span class="c-map-image__label">Arashiyama<br>Bamboo Grove</span>
            </div>
            <div class="c-map-image__item">
              <img class="c-map-image__image" src="{{ cdn }}images/map-kansai-9.png" alt="">
              <span class="c-map-image__label">Nijo-jo Castle</span>
            </div>
            <div class="c-map-image__item">
              <img class="c-map-image__image" src="{{ cdn }}images/map-kansai-10.png" alt="">
              <span class="c-map-image__label">En</span>
            </div>
            <div class="c-map-image__item">
              <img class="c-map-image__image" src="{{ cdn }}images/map-kansai-11.png" alt="">
              <span class="c-map-image__label">Hattori Ryokuchi<br>Park</span>
            </div>
          </div>
          <!-- /c-map-image -->

        </div>
      </div>
      <!-- /c-map -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section">

    <div class="o-container">

      <h2 class="c-title u-vertical-space">Nara Park</h2>
      <!-- /c-title -->


      <div class="s-entry-content u-vertical-space">
        <p><strong>(Travel Time: 30 minutes)</strong></p>
        <p>Just a short distance outside of Osaka on the picturesque Kintetsu Railway Express Line is a little slice of heaven in the form of Nara Park and its thousand-plus wild deer. Calm and friendly all year round thanks to long-term exposure to tourists, these beautiful and gentle creatures will double their affection if you’ve picked up some senbei (deer food) from any one of the many vendors scattered around the park (a few deer have even learned to bow in exchange for snacks).</p>
      </div>
      <!-- /s-entry-content -->


      <div class="u-vertical-space">
        <img src="{{ cdn }}images/nara-koen-park.jpg" alt="">
      </div>
      <!-- /u-vertical-space -->


      <div class="c-content-block c-content-block--narrow c-content-block--white u-vertical-space">

        <h3 class="c-title c-content-block__title u-vertical-space u-vertical-space--small">Also Nearby</h3>
        <!-- /c-title -->


        <div class="s-entry-content u-vertical-space u-vertical-space--small">
          <p><strong>Todaiji Temple​:</strong> home to the country’s largest Buddha statue.</p>
          <p><strong>Kagusa Taisha Shrine​:</strong> Nara’s most beloved Shinto shrine; famed for its hundreds of bronze lanterns.</p>
        </div>
        <!-- /s-entry-content -->

      </div>
      <!-- /c-content-block -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section">

    <div class="o-container">

      <h2 class="c-title u-vertical-space">Kyoto</h2>
      <!-- /c-title -->


      <div class="s-entry-content u-vertical-space">
        <p><strong>(Travel Time: 45 minutes)</strong></p>
        <p>Formerly the Imperial capital of Japan for more than a thousand years, Kyoto is now home to around 1.5 million people, as well as some of the country’s most iconic shrines, temples and castles. The city deserves more than one day’s visit, but for those starved of time there are definitely a few must-sees:</p>
      </div>
      <!-- /s-entry-content -->


      <div class="s-entry-content u-vertical-space">
        <ul>
          <li><strong>Kinkaku-ji Temple​:</strong> Kyoto’s crown jewel, famed for its ‘floating’ Golden Pavilion. Take a break from sightseeing and indulge in a traditional tea ceremony at Koto which is only a few minutes away by foot.</li>
          <li><strong>Fushimi-Inari-Taisha Shrine​:</strong> Dedicated to Inari, the god of rice and saké, its thousands of bright orange torii gates are popular for photographers, whilst those prepared to ascend its 2km trail will be rewarded with both a number of smaller shrines and stunning panoramic views of Kyoto.</li>
          <li><strong>Ginkaku-ji Temple​:</strong> the “Silver Pavilion” is a favourite amongst nature lovers, with long walks around the grounds offering iconic sights such as the meticulously curated ‘Sea of Silver Sand’ and an expansive moss garden, complete with bridges spanning peaceful ponds, streams and islands.</li>
          <li><strong>Arashiyama Bamboo Grove​:</strong> Seemingly endless stalks of bamboo line the path on the approach to Ōkōchi Sansō villa, forever changing in their appearance as the light flows in from different directions throughout the day.</li>
          <li><strong>Nijo-jo Castle​:</strong> This UNESCO world heritage site was once home to Tokugawa Ieyasu, the first shogun of the Edo Period, whilst outside - its Ninomaru Garden offers a prime example of traditional Japanese landscaping.</li>
          <li><strong>En​:</strong> Kyoto was where the tea ceremony was born so it makes sense for travellers to stop by a traditional tea house for some freshly brewed matcha and traditional sweets. The En teahouse is located in the heart of the Higashiyama district, and is the perfect pitstop to sample the wonderful teas the Kyoto region is famous for.</li>
        </ul>
      </div>
      <!-- /s-entry-content -->


      <div class="u-vertical-space">
        <img src="{{ cdn }}images/torii-gates.jpg" alt="">
      </div>
      <!-- /u-vertical-space -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section">

    <div class="o-container">

      <h2 class="c-title u-vertical-space">Hattori Ryokuchi Park</h2>
      <!-- /c-title -->


      <div class="s-entry-content u-vertical-space">
        <p><strong>(Travel Time: 18 Minutes)</strong></p>
        <p>Sometimes for tourists there’s no better plan to ‘do as the locals do’, and when Osakans want to relax they head to the idyllic Hattori Ryokuchi Park. Boasting extensive bamboo and pine forests, as well as a dozen ponds and sprawling lawns, this hidden oasis is just a short distance from the city and is a favourite spot for picnics, walking and cycling. It also offers a chance to step back in time to the Edo era with its meticulously restored <strong><em>Open Air Museum of Old Japanese Farmhouses​,</em></strong> featuring eleven authentic buildings taken from all around Japan and painstakingly reassembled amidst rising bamboo forests, ancient windmills and an Arboretum boasting close to 1000 species of camellia.</p>
        <p><strong>Best time to visit​:</strong> early April during the height of the cherry-blossom season when the entire park is adorned with spectacular pink and white cherry blossom.</p>
      </div>
      <!-- /s-entry-content -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section">

    <div class="o-container">

      <h2 class="c-title u-vertical-space">Hiroshima and Miyajima</h2>
      <!-- /c-title -->


      <div class="c-columns u-vertical-space">
        <div class="c-columns__list">
          <div class="c-columns__item">

            <div class="s-entry-content">
              <p><strong>(Travel Time: 80 minutes)</strong></p>
              <p>There is perhaps no more solemn or affecting place in all of Japan than Hiroshima’s Peace Memorial Park. Built upon the site of the first atomic bomb detonation, it features numerous monuments dedicated to those who lost their lives, including the Hiroshima Peace Memorial Museum, the Memorial Cenotaph and the Statue of the A-Bomb Children, however none are more memorable or haunting than the Genbaku Dome (A-Bomb Dome): one of the few remaining buildings from the pre-war period and a sober reminder of the events of Aug 6, 1945.</p>
            </div>
            <!-- /s-entry-content -->

          </div>
          <div class="c-columns__item c-columns__item--center c-columns__item--third">

            <img src="{{ cdn }}images/hiroshima.png" alt="">

          </div>
        </div>
      </div>
      <!-- /c-columns -->


      <div class="c-columns u-vertical-space">
        <div class="c-columns__list">
          <div class="c-columns__item">

            <div class="s-entry-content">
              <p>Just a brief ferry ride away is the picturesque island of Miyajima, featuring the famous <strong><em>Itsukushima Shrine​</em></strong> - the only one in the world to feature a torii-gate and shrine building in the middle of the sea, as well offering a perfect location from which to enjoy the region’s magnificent sunsets before heading back to Osaka.</p>
            </div>
            <!-- /s-entry-content -->

          </div>
          <div class="c-columns__item c-columns__item--center c-columns__item--third">

            <img src="{{ cdn }}images/miyajima.png" alt="">

          </div>
        </div>
      </div>
      <!-- /c-columns -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  <div class="c-section">

    <div class="o-container">

      <h2 class="c-title u-vertical-space">A few other authentic Japanese experiences</h2>
      <!-- /c-title -->


      <div class="c-carousel u-vertical-space js-carousel">
        <div class="c-carousel__item">
          <div class="c-carousel__cover">
            <img class="c-carousel__image" src="{{ cdn }}images/dohyo-iri-ritual.jpg" alt="">
          </div>
          <div class="c-carousel__caption">
            <div class="s-entry-content c-carousel__entry-content">
              <h3>Sumo Spring Basho</h3>
              <p>​(March 11 to March 25, Osaka Prefectural Gymnasium)</p>
              <p>There are only ever six Grand Tournaments of Sumo every year in Japan, and one of those is held right in the heart of Osaka, just 4 minutes’ walk from Namba Station. The Spring Basho tournament spans 15 full days, with lower-ranked wrestlers appearing from 9am in the morning and the superstars taking their positions from 4pm onwards.</p>
            </div>
          </div>
        </div>
        <div class="c-carousel__item">
          <div class="c-carousel__cover">
            <img class="c-carousel__image" src="{{ cdn }}images/bunraku.jpg" alt="">
          </div>
          <div class="c-carousel__caption">
            <div class="s-entry-content c-carousel__entry-content">
              <h3>National Bunraku (doll) Theatre</h3>
              <p>For the tradition hunters, Osaka offers a rare gem in that it’s also the birthplace of Bunraku: the centuries-old art of Japanese puppet theatre. Backed by both a musical accompaniment and a chanted narrative, Bunraku generally covers romantic tales or historical revenge epics, and there’s even a giant version of a Bunraku doll - the Kuidaore Taro (a drummer dressed like a clown) - adorning Dotonbori as a tribute to the city’s theatrical heritage.</p>
              <h3>Fast facts</h3>
              <ul>
                <li>1.2m: the average span of a Bunraku puppet.</li>
                <li>3: the number of puppeteers it takes to control one Bunraku doll.</li>
                <li>30 years: amount of practice required to become a main puppeteer.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="c-carousel__item">
          <div class="c-carousel__cover">
            <img class="c-carousel__image" src="{{ cdn }}images/kabuki-theatre.jpg" alt="">
          </div>
          <div class="c-carousel__caption">
            <div class="s-entry-content c-carousel__entry-content">
              <h3>Kabuki in the Shochikizu Theatre</h3>
              <p>Even more famous than Bunraku is of course Japan’s Kabuki, and what better way to take in some unique Japanese culture than with a Dotonbori craft beer served from a brewery located within Osaka’s only Kabuki theatre house. Shochikizu Theatre is a favourite with locals, who’ll often be seen attending in finely-detailed, traditional kimonos just like those worn by the performers on stage.</p>
            </div>
          </div>
        </div>
        <div class="c-carousel__item">
          <div class="c-carousel__cover">
            <img class="c-carousel__image" src="{{ cdn }}images/geisha-and-maiko-performance.jpg" alt="">
          </div>
          <div class="c-carousel__caption">
            <div class="s-entry-content c-carousel__entry-content">
              <h3>Stop by a Traditional <em>​Geiko​</em> Performance</h3>
              <p>Kyoto is known as the heart of Japan’s geisha world. In Kyoto, however, geishas who have completed the five years of training are properly called geiko. Travellers can enjoy a private evening with a Geiko and a Jikata (a shamisen player) starting from around $1200. For those who are after the cultural experience without the pricetag head to a Kyoto cuisine and Maiko evening which is offered by Gion Hatanaka ryokan. During these wonderful events, diners enjoy a delicious meal and are entertained by several geisha who perform traditional kyomai dancing and play drinking games with guests.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /c-carousel -->

    </div>
    <!-- /o-container -->

  </div>
  <!-- /c-section -->


  {% include "components/qantas.njk" %}


  <div class="c-prev-next">
    <a class="c-prev-next__link" href="https://www.theguardian.com/qantas-konnichiwa-osaka/ng-interactive/2018/mar/08/a-cultural-guide-to-osaka">
      <img class="c-prev-next__image" src="{{ cdn }}images/autumn-park.jpg" alt="">
      <span class="c-prev-next__label">A cultural guide to Osaka</span>
    </a>
    <a class="c-prev-next__link" href="https://www.theguardian.com/qantas-konnichiwa-osaka/ng-interactive/2018/mar/06/the-foodies-guide-to-osaka">
      <img class="c-prev-next__image" src="{{ cdn }}images/ramen-soup.jpg" alt="">
      <span class="c-prev-next__label">The foodie’s guide to Osaka</span>
    </a>
  </div>
  <!-- /c-prev-next -->

</main>
<!-- /main -->
{% endblock %}
