.c-background {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  &::after {
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@keyframes scale {
  100% {
    transform: scale(1.125);
  }
}

.c-background__image {
  animation: 10s ease-in-out infinite alternate scale;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
