.c-button {
  border-radius: 0.25em;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  padding: 1em 2em;
  text-decoration: none;

  &:hover {
    background-color: $lifeguard;
    color: $white;
  }
}
