.c-carousel {}

.c-carousel__item {}

.c-carousel:not(.flickity-enabled) .c-carousel__item:not(:last-child) {
  margin-bottom: 2em;
}

.c-carousel__cover {
  padding-top: percentage(2/3);
  position: relative;

  @media (min-width: 48em) {
    padding-top: 50%;
  }
}

.c-carousel__image {
  height: 100%;
  left: 0;
  object-fit: cover;
  font-family: "object-fit: cover;";
  position: absolute;
  top: 0;
  width: 100%;
}

.c-carousel__caption {
  @include fluid-type(padding, 20em, 48em, 1em, 2em);
  background-color: $concrete;
}

.flickity-enabled .c-carousel__caption {
  position: relative;

  &::after {
    background-color: $concrete;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }
}

.c-carousel__entry-content {
  font-size: 0.875em;
}


// Flickity ----------------------------

.flickity-enabled {
  position: relative;
}

.flickity-viewport {
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: 1.2s height cubic-bezier(0.19, 1, 0.22, 1);
}

.flickity-slider {
  height: 100%;
  position: absolute;
  width: 100%;
}

.flickity-enabled .c-carousel__item {
  width: 100%;
}


// Draggable ---------------------------

.flickity-enabled.is-draggable {
  tap-highlight-color: transparent;
  user-select: none;

  .flickity-viewport {
    cursor: grab;

    &.is-pointer-down {
      cursor: grabbing;
    }
  }
}


// Previous/next buttons ---------------

.flickity-prev-next-button {
  @extend %u-transition;
  background-color: rgba($white, 0.5);
  border-radius: 50%;
  border-width: 0;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  line-height: 1;
  margin-top: percentage(1/3);
  padding: 1em;
  position: absolute;
  top: 0;
  transform: translatey(-50%);

  @media (max-width: 37.4375em) {
    display: none;
  }

  @media (min-width: 48em) {
    margin-top: 25%;
  }

  &.previous {
    left: 2em;
  }

  &.next {
    right: 2em;
  }

  svg {
    @extend .o-icon;
  }

  &:hover {
    background-color: rgba($white, 0.75);
  }

  &[disabled] {
    opacity: 0;
    visibility: hidden;
  }
}


// Page dots ---------------------------

.flickity-page-dots {
  display: flex;
  justify-content: center;
  left: 0;
  margin-top: percentage(2/3);
  padding-bottom: 1em;
  position: absolute;
  top: 0;
  transform: translatey(-100%);
  width: 100%;

  @media (min-width: 48em) {
    margin-top: 50%;
  }

  .dot {
    @extend %u-transition;
    border-radius: 50%;
    border: $white solid 1px;
    cursor: pointer;
    height: 0.75em;
    width: 0.75em;

    &:not(:last-child) {
      margin-right: 0.5em;
    }

    &:hover {
      background-color: rgba($white, 0.5);
    }

    &.is-selected {
      background-color: $white;
    }
  }
}
