.c-columns {}

.c-columns--medium {}

.c-columns__list {
  margin: -1em 0 0 -2em;

  @media (min-width: 48em) {
    display: flex;
  }
}

.c-columns--medium .c-columns__list {
  margin: -2em 0 0 -4em;
}

.c-columns__list--middle {
  @media (min-width: 48em) {
    align-items: center;
  }
}

.c-columns__item {
  padding: 1em 0 0 2em;

  @media (min-width: 48em) {
    flex: 1 1 50%;
  }
}

.c-columns--medium .c-columns__item {
  padding: 2em 0 0 4em;
}

.c-columns__item--center {
  text-align: center;
}

.c-columns__item--right {
  @media (min-width: 48em) {
    margin-left: auto !important;
  }
}

.c-columns__item--swap {
  @media (min-width: 48em) {
    order: 1;
  }
}

.c-columns__item--third {
  @media (min-width: 48em) {
    flex: 0 0 percentage(1/3);
  }
}
