.c-content-block {}

.c-content-block--narrow {
  @media (min-width: 48em) {
    width: 50%;
  }
}

.c-content-block--seamist {
  @include fluid-type(padding, 20em, 48em, 1.5em, 4em);
  background-color: $seamist;
}

.c-content-block--white {
  @include fluid-type(padding, 20em, 48em, 1.5em, 2em);
  background-color: $white;
  border-radius: 0.5em;
  border: $lifeguard solid 1px;
}

.c-content-block__title {
  font-family: "TS3 Text Sans", sans-serif;
  font-size: 1.25em;
}
