.c-footer {
  background-color: $tundora;
  color: $white;
  flex: none;
  padding-bottom: 2em;
  padding-top: 2em;
}

.c-footer__container {
  @media (min-width: 48em) {
    position: relative;
  }
}

.c-footer__share {
  @media (min-width: 48em) {
    margin-bottom: 0 !important;
  }
}
