.c-footer {
  background-color: $tundora;
  color: $white;
  flex: none;
  padding: 2em 0;

  @media (min-width: 48em) {
    padding-bottom: 0;
  }
}

.c-footer__container {
  @media (min-width: 48em) {
    position: relative;
  }
}
