.c-paid-content {
  text-align: center;

  @media (min-width: 48em) {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}

.c-paid-content__label {
  display: block;
  font-size: 0.625em;
}

.c-paid-content__link {
  display: block;
}

.c-paid-content__image {
  width: 7em;
}
