.c-sidebar {
  @media (min-width: 48em) {
    display: flex;
  }
}

.c-sidebar__column {
  @media (min-width: 48em) {
    flex: 1 1 50%;
  }

  & + & {
    @include fluid-type(margin-top, 20em, 48em, 2em, 4em);

    @media (min-width: 48em) {
      @include fluid-type(margin-left, 20em, 48em, 2em, 4em);
      margin-top: 0;
    }
  }
}

.c-sidebar__column--fixed {
  @media (min-width: 48em) {
    flex: 0 0 25%;
  }
}

.c-sidebar__column--middle {
  @media (min-width: 48em) {
    align-self: center;
  }
}
