// Grays
$black:     #000000;
$mineshaft: #333333;
$tundora:   #4a4a4a;
$gallery:   #ececec;
$concrete:  #f3f3f3;
$white:     #ffffff;

// Colors
$atlantis:  #9ece42;
$roman:     #de5555;
$lifeguard: #e00e00;
$aqua:      #e9f6f9;
