$aqua: #e9f6f9;
$atlantis: #9ece42;
$black: #000000;
$concrete: #f3f3f3;
$gallery: #ececec;
$lifeguard: #e00e00;
$mineshaft: #333333;
$roman: #de5555;
$seamist: #c5d8c8;
$tundora: #4a4a4a;
$white: #ffffff;
