<div class="c-section c-section--background c-section--padding">

  <div class="c-background c-background--call-to-action">
    <img class="c-background__image" src="images/osaka.jpg" alt="">
  </div>
  <!-- /c-background -->


  <div class="o-container">

    <h2 class="c-title c-title--sans-serif u-vertical-space">Let Qantas take you there</h2>
    <!-- /c-title -->


    <div class="s-entry-content s-entry-content--narrow u-vertical-space">
      <p>Qantas is now flying direct Sydney to Osaka Japan, operating three-times per week*. Qantas also has daily flights between Sydney and Tokyo Haneda, in addition to flights from Melbourne and Brisbane to Tokyo Narita.</p>
    </div>
    <!-- /s-entry-content -->


    <div class="u-vertical-space">

      <a class="c-button c-button--call-to-action" href="#">Book Now</a>
      <!-- /c-button -->

    </div>
    <!-- /u-vertical-space -->

  </div>
  <!-- /o-container -->

</div>
<!-- /c-section -->
