<footer class="c-section c-section--padding c-footer">

  <div class="o-container">

    <div class="u-vertical-space">

      <a class="c-button c-button--footer" href="#">Konnichiwa Osaka</a>
      <!-- /c-button -->

    </div>
    <!-- /u-vertical-space -->


    <div class="c-share u-vertical-space">
      <span class="c-share__label">Share</span>
      <ul class="c-share-menu">
        <li class="c-share-menu__item">
          <a class="c-share-menu__link" href="#" title="Share on Facebook">
            <svg class="o-icon c-share-menu__icon" width="24" height="24" focusable="false" role="img" aria-label="Share on Facebook">
              <use xlink:href="images/icons.svg#icon-facebook">
            </svg>
          </a>
        </li>
        <li class="c-share-menu__item">
          <a class="c-share-menu__link" href="#" title="Share on Twitter">
            <svg class="o-icon c-share-menu__icon" width="24" height="24" focusable="false" role="img" aria-label="Share on Twitter">
              <use xlink:href="images/icons.svg#icon-twitter">
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <!-- /c-share -->

  </div>
  <!-- /o-container -->

</footer>
<!-- /c-footer -->
