<header class="c-section c-section--background c-section--padding c-header">

  <div class="c-background c-background--header">
    <img class="c-background__image" src="https://placehold.it/1920x1280" alt="">
  </div>
  <!-- /c-background -->


  <div class="o-container">

    <h2 class="c-title c-title--large u-vertical-space">The foodie’s guide to Osaka</h2>
    <!-- /c-title -->


    <div class="s-entry-content s-entry-content--large s-entry-content--serif u-vertical-space">
      <p>During the Edo period, Osaka was known as “the nation’s kitchen”, discover what makes this bustling city in the heart of Japan a must see destination for foodies.</p>
    </div>
    <!-- /s-entry-content -->

  </div>
  <!-- /o-container -->

</header>
<!-- /c-header -->
