<div class="c-qantas">

  <div class="c-background c-qantas__background">
    <img class="c-background__image" src="{{ cdn }}images/osaka.jpg" alt="">
  </div>
  <!-- /c-background -->


  <div class="o-container">

    <h2 class="c-title c-qantas__title u-vertical-space">Let Qantas take you there</h2>
    <!-- /c-title -->


    <div class="s-entry-content c-qantas__entry-content u-vertical-space">
      <p>Qantas is now flying direct Sydney to Osaka Japan, operating three-times per week*. Qantas also has daily flights between Sydney and Tokyo Haneda, in addition to flights from Melbourne and Brisbane to Tokyo Narita.</p>
    </div>
    <!-- /s-entry-content -->


    <div class="s-entry-content c-qantas__entry-content u-vertical-space">
      <p><small>* Schedule subject to change</small></p>
    </div>
    <!-- /s-entry-content -->


    <div class="u-vertical-space">

      <a class="c-button c-qantas__button" href="https://www.qantas.com/au/en/flight-deals/international/flights-to-japan.html/economy/all/lowest">Book Now</a>
      <!-- /c-button -->

    </div>
    <!-- /u-vertical-space -->

  </div>
  <!-- /o-container -->

</div>
<!-- /c-qantas -->
