.s-entry-content {

  h3 {}

  p {}

  ul {}

  li {
    padding-left: 1.5em;
    position: relative;

    &::before {
      background-color: currentcolor;
      border-radius: 50%;
      content: "";
      height: 0.5em;
      left: 0.5em;
      position: absolute;
      top: 0.375em;
      width: 0.5em;
    }
  }

  p {
    margin-bottom: 1em;
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 + p {
    margin-top: 0;
  }
}

.s-entry-content--highlight {
  color: $lifeguard;
  font-size: 1.125em;
  font-style: italic;
}




/*
.s-entry-content {
  li {


}
*/
