.s-entry-content {
  h3,
  p {
    margin-bottom: 1.5em;
    margin-top: 1.5em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 + p {
    margin-top: -1.5em;
  }
}

.s-entry-content--large {
  font-size: 1.25em;
}

.s-entry-content--narrow {
  max-width: 768px;
}

.s-entry-content--serif {
  font-family: "GH Guardian Headline", serif;
}
