.s-entry-content {
  p {
    margin: 1.5em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 + p {
    margin-top: 0;
  }
}

.s-entry-content--highlight {
  color: $lifeguard;
  font-size: 1.125em;
  font-style: italic;
}
