{% if not cdn %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
{% endif %}
    <div class="o-body-wrap s-interactive {{ theme }}">
      {% block regions %}{% endblock %}
    </div>
    <!-- /o-body-wrap -->
{% if not cdn %}
    <script src="main.js"></script>
  </body>
</html>
{% endif %}
