<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="stylesheets/index.css">
  </head>
  <body>
    <div class="o-body-wrap">
      {% block regions %}{% endblock %}
    </div>
    <!-- /o-body-wrap -->
  </body>
</html>
